@import "tailwindcss";

@theme {
  --color-theme-sidebar: #1c1c1c;
  --color-theme-bg: #272727;
  --color-theme-border: #333333;
  --color-theme-accent: #60cdff;
  --color-theme-accentHover: #3a8fb7;
  --color-theme-input: #333333;
}

@layer base {
  body {
    @apply bg-theme-bg text-gray-100 font-sans antialiased;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-theme-sidebar);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-theme-border);
    border-radius: 5px;
    border: 2px solid var(--color-theme-sidebar);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #505050;
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-theme-border) var(--color-theme-sidebar);
  }
  /* Override CodeMirror oneDark bluish background */
  .cm-editor {
    background-color: transparent !important;
  }
  .cm-gutters {
    background-color: transparent !important;
    border-right: 1px solid var(--color-theme-border) !important;
  }
  .cm-activeLine, .cm-activeLineGutter {
    background-color: transparent !important;
  }
}


@media print {
  @page { margin: 0; }
  body { padding: 1.5cm; }
  
  /* Fix print white split and colors */
  body, .cm-editor {
    background-color: white !important;
  }
  .cm-content {
    color: black !important;
  }
  .cm-gutters {
    display: none !important;
  }
  
  /* Let CodeMirror expand fully for printing */
  .cm-editor, .cm-scroller {
    height: auto !important;
    overflow: visible !important;
  }
}
