@import "tailwindcss";

@theme {
  --color-theme-sidebar: #1c1c1c;
  --color-theme-bg: #272727;
  --color-theme-border: #333333;
  --color-theme-accent: #60cdff;
  --color-theme-accentHover: #3a8fb7;
  --color-theme-input: #333333;
}

@layer base {
  body {
    @apply bg-theme-bg text-gray-100 font-sans antialiased;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-theme-sidebar);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-theme-border);
    border-radius: 5px;
    border: 2px solid var(--color-theme-sidebar);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #505050;
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-theme-border) var(--color-theme-sidebar);
  }
}
