@import "tailwindcss";

@theme {
  --color-theme-sidebar: #1c1c1c;
  --color-theme-bg: #272727;
  --color-theme-border: #333333;
  --color-theme-accent: #60cdff;
  --color-theme-accentHover: #3a8fb7;
  --color-theme-input: #333333;
}

@layer base {
  body {
    @apply bg-theme-bg text-gray-100 font-sans antialiased;
  }
}
